<h2>Dividas Jeknowledge</h2>

<%= dividas %>

<ul>
  <% dividas.forEach(function(divida) { %>
      <li>
          <strong><%= id: divida._id %></strong>
          Credor:  <%= divida.credor %> ,Devedor: <%= divida.devedor %>,Quantia: <%= divida.quantia %>,Descriçao: <%= dividas.descricao %>,Paga: <%= dividas.paga %>
      </li>
  <% }); %>
</ul>

