<h2>Dividas Jeknowledge</h2>


<div class="result">
<ol>
<% for( divida of dividas) {%>
  <% if(divida.id !== null) { %>
    <% if(divida.credor !== null) { %>
      <% if(divida.devedor !== null) { %>
        <% if(divida.quantia !== null) { %>
          <% if(divida.descricao !== null) { %>
            <% if(divida.date !== null) { %>
                  <li class="string">
                    <strong>Id:</strong> <%= divida.id%>,<strong>Credor: </strong> <%= divida.credor%>,<strong>Devedor: </strong><%= divida.devedor%>,
                        <strong>Quantia:</strong><%= divida.quantia%> €,<strong>Descricao: </strong><%= divida.descricao%>
                  </li>

                  <div class="delete">
                    <form action="dividas/<%= divida.id%>" method="POST">
                        <dt>
                            <button id="delete" name="delete" value="delete" required class="button_pag" onclick="myFunction('painel-1')">Eliminar</button>
                        </dt>
                        <dd id="painel-1" class="transicao"> 
                        </dd>
                      </form>
                  </div>
              <% } %>
            <% } %>
          <% } %>
        <% } %>
      <% } %>
  <% } %>
<% } %>
</ol>
</div>

<div class = "criar/eliminar_dividas">

  <h4>Alguem te deve dinheiro ? Pede-o <a href="/dividas/create">aqui</a></h4>

</div>