<h3>Dividas Jeknowledge</h3>

<h4>Tech</h4>


<div class="result">
    <ul>
    <% for( divida of dividas) {%>
      <% if(divida.id !== null) { %>
        <% if(divida.credor !== null) { %>
          <% if(divida.devedor !== null) { %>
            <% if(divida.quantia !== null) { %>
              <% if(divida.descricao !== null) { %>
                <% if(divida.date !== null) { %>
                  <% if(!divida.paga){%>
                      <li class="string">
                        <strong>Id:</strong> <%= divida.id%>,<strong>Credor: </strong> <%= divida.credor%>,<strong>Devedor: </strong><%= divida.devedor%>,
                        <strong>Quantia:</strong><%= divida.quantia%> €,<strong>Descricao: </strong><%= divida.descricao%>
                    </li>
                    <% } %>
                  <% } %>
                <% } %>
              <% } %>
            <% } %>
          <% } %>
      <% } %>
    <% } %>
    
    </ul>
    </div>
    

