<h1>SignUp</h1>

<div class="flash_messages">
  <% if(errors !== "") { %>
      <% errors.forEach((item) => { %>
          <div class="alert-danger">
            <%- item %>
          </div>
      <%})%>
    <% } %>
</div>
<form action="/users/signup" method="POST">
  <div>
    <label for="name">Name</label>
    <input
      type="name"
      name="name"
      placeholder="Enter Name"
      value="<%= typeof name != 'undefined' ? name : ''%>"
    />
  </div>
  <div>
    <label for="lastname">Sobrenome</label>
    <input
      type="lastname"
      name="lastname"
      placeholder="Enter Last Name"
      value="<%= typeof lastname != 'undefined' ? lastname : ''%>"
    />
  </div>
  <div>
    <label for="email">E-mail</label>
    <input
      type="email"
      name="email"
      placeholder="Enter E-mail"
      value="<%= typeof email != 'undefined' ? email : ''%>"
    />
  </div>
  <div>
    <label for="password">Password</label>
    <input
      type="password"
      name="password"
      placeholder="Enter Password"
      value="<%= typeof password != 'undefined' ? password : ''%>"
    />
  </div>
  <div>
    <label for="password2">Confirm Password</label>
    <input
      type="password"
      name="password2"
      placeholder="Confirm Password"
      value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
    />
  </div>
  <div>
    <label for="department">Departamento</label>
    <select  type="department" name="department" placeholder="Departamento" value="<%= typeof department != 'undefined' ? department : '' %>">
            <option name="Intern" value="Intern">Intern</option>
            <option name="Innovation" value="Innovation">Innovation</option>
            <option name="Tech" value="Tech">Tech</option>
    </select>
  </div>

  <button type="submit" class="btn btn-primary btn-block">Registar</button>
</form>

<p>Tens conta? <a href="/">Login</a></p>
